
<!-- Dropdown Trigger -->
  <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Drop Me!</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href=<%=login_path%>>one</a></li>
    <li><a href="#!">two</a></li>
    <li class="divider" tabindex="-1"></li>
    <li><a href="#!">three</a></li>
    <li><a href="#!"><i class="material-icons">view_module</i>four</a></li>
    <li><a href="#!"><i class="material-icons">cloud</i>five</a></li>
  </ul>

<div class="card-panel">
    <span class="pink-text text-lighten-3 "><h1 class="center">E-HAGGLE</h1></span>
  </div>





  

<div class="center">
    <span class="pink-text text-lighten-3 "><h1 class="center" >Powered by Materialize</h1></span>
  </div>


<div class="center">
<iframe width="724" height="407" src="https://www.youtube.com/embed/Q8TXgCzxEnw" frameborder="0" allow="accelerometer; autoplay=1; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>



  
<%= link_to 'signup', signup_path%>
<%= link_to 'login', login_path%>