<h1>Showing product details</h1>

<table>
    <thead>
        <tr>
            <th>Name:</th>
            <th>Price:</th>
            <th>Description:</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <%@products.each do |product|%>
            <td><%=product.name %></td>
            <td><%=product.price%></td>
            <td><%=product.description%></td>
        </tr>
    </tbody>
</table>
<%end%>
  